<sly data-sly-use.l1nav="com.lazard.lam.core.models.navigation.L1Navigation"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${!l1nav.navItemEmpty}"></sly>
<ul data-sly-list.item="${l1nav.l1navItems}" class="globalheader__main__content__links ${item.viewType}" data-sly-test="${hasContent}">
    <li class="globalheader__option">${item.title}<span class="icon-chevron-down"></span></li>
</ul>
<nav class="globalheader__nav" data-sly-list.item="${l1nav.l1navItems}">
    <ul class="globalheader__nav-section level-${childList.index} hidden-desktop">
        <li class="globalheader__nav-section__title">
            <a>${item.title}</a>
            <ul class="globalheader__nav-section">
                <li><a href="#" class="globalheader__nav__link">Investment Solutions</a></li>
            </ul>
        </li>
            <!--<li><a href="#" class="globalheader__nav__link">Investment Solutions</a></li>
            <li><a href="#" class="globalheader__nav__link">Reaserch & Insights</a></li>
            <li><a href="#" class="globalheader__nav__link">Sustainable Investment</a></li>
            <li><a href="#" class="globalheader__nav__link">About</a></li>-->
    </ul>
</nav>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent, classAppend='cmp-navigation'}"></sly>
