/** 
  headings | Subheadings | Titles
*/
$headings: (
  h1: (
    sg: (64px, 0.95),
    mg: (96px, 0.95), 
    lg: (120px, 0.95), 
    family: $font-family-ppneuworld,
    fstyle: normal,
    lspacing: -1.28px,
  ),
  h2: (
    sg: (56px, 0.95), 
    mg: (72px, 0.95), 
    lg: (96px, 0.95),
    family: $font-family-ppneuworld,
    fstyle: normal,
    lspacing: -1.92px,
  ),
  h3: (
    sg: (52px, 0.95),
    mg: (64px, 0.95),
    lg: (80px, 0.95),
    family: $font-family-ppneuworld,
    fstyle: normal,
    lspacing: -1.6px,
  ),
  h4: (
    sg: (48px, 0.95),
    mg: (56px, 0.95),
    lg: (64px, 0.95),
    family: $font-family-ppneuworld,
    fstyle: normal,
    lspacing: -1.28px,
  ),
  subheading-sm: (
    sg: (30px, 0.95),
    mg: (30px, 0.95),
    lg: (30px, 0.95),
    family: $font-family-ppneuworld,
    fstyle: normal,
    lspacing: -1.28px,
  ),
  subheading: (
    sg: (36px, 0.95),
    mg: (36px, 0.95),
    lg: (40px, 0.95),
    family: $font-family-ppneuworld,
    fstyle: normal,
    lspacing: -1.28px,
  ),
  subheading-lg: (
    sg: (40px, 0.95),
    mg: (42px, 0.95),
    lg: (48px, 0.95),
    family: $font-family-ppneuworld,
    fstyle: normal,
    lspacing: -1.28px,
  ),
  title-sm: (
    sg: (20px, 1.4),
    mg: (22px, 1.4),
    lg: (24px, 1.4),
    family: $font-family-helvetica,
    fstyle: normal,
    lspacing: -1.28px,
  ),
  title: (
    sg: (24px, 1.4),
    mg: (28px, 1.4),
    lg: (32px, 1.4),
    family: $font-family-helvetica,
    fstyle: normal,
    lspacing: -1.28px,
  ),
  title-lg: (
    sg: (28px, 1.4),
    mg: (32px, 1.4),
    lg: (36px, 1.4),
    family: $font-family-helvetica,
    fstyle: normal,
    lspacing: -1.02px,
  ),
) !default;