
<div class="cmp-navigation">
    <div class="cmp-navigation__header-container">
        <div class="cmp-navigation__logo">
            <sly data-sly-resource="${ 'image' @ resourceType='lam/components/image'}"></sly>
        </div>
        <div class="cmp-navigation__nav">
            <sly data-sly-resource="${ 'nav' @ resourceType='lam/components/l1nav'}"></sly>
        </div>
        <div class="cmp-navigation__account">
            <sly data-sly-resource="${ 'account-cta' @ resourceType='lam/components/button'}"></sly>
        </div>
        <div class="cmp-navigation__locale-setting">
            <sly data-sly-resource="${ 'locale-cta' @ resourceType='lam/components/button'}"></sly>
        </div>
        <div class="cmp-navigation__contact">
            <sly data-sly-resource="${ 'contact-cta' @ resourceType='lam/components/button'}"></sly>
        </div>
        <div class="cmp-navigation__search">
            <sly data-sly-resource="${ 'search' @ resourceType='lam/components/search'}"></sly>
        </div>
    </div>
</div>
