<div data-sly-use.sitemap="com.lazard.lam.core.models.Sitemap"
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html">
    <li data-sly-list.link="${sitemap.sitemap}">
        <ul><a href="${link.url}"  x-cq-linkchecker="valid">${link.text}</a></ul> 
    </li>
</div>
${sitemap} - ${sitemap.sitemap} - ${sitemap.sitemap.empty} - ${sitemap.sitemap.class} - ${sitemap.sitemap == null} - ${sitemap.empty} - ${sitemap.isEmpty}
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=sitemap.empty}"></sly>