/*
** Variables
*/

// Font Family
$font-family-ppneuworld: 'PP Neue World', Helvetica, Arial, sans-serif;
$font-family-helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font variables
$font-size-lg: 20px;
$font-size-base: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;

//Font variant
$font-variant-normal: normal;

// Font styles
$font-style-italic: italic !default;
$font-style-normal: normal !default;

// Text styles
$text-decoration-uderline: underline !default;

//Text transform
$text-transform-capitalize: capitalize !default;
$text-transform-uppercase: uppercase !default;
$text-transform-lowercase: lowercase !default;

//Margin
$margin-auto: auto;

//Icons
$icomoon-font-family: "Neue World Glyph" !default;
$icomoon-font-path: "fonts" !default;
$icomoon-cache-buster: '82a2u';

$icon-apps: "\e902";
$icon-chart: "\e900";
$icon-chevron-down: "\e901";
$icon-chevron-left: "\e903";
$icon-chevron-right: "\e904";
$icon-chevron-up: "\e905";
$icon-close: "\e906";
$icon-double-chevron-left: "\e907";
$icon-double-chevron-right: "\e908";
$icon-download: "\e909";
$icon-email: "\e90a";
$icon-expand: "\e90b";
$icon-fax: "\e90c";
$icon-filter: "\e90d";
$icon-fullscreen: "\e90e";
$icon-help: "\e90f";
$icon-linkedin: "\e910";
$icon-menu: "\e911";
$icon-microphone: "\e912";
$icon-minus: "\e913";
$icon-negative: "\e914";
$icon-notification: "\e915";
$icon-pause: "\e916";
$icon-phone: "\e917";
$icon-play: "\e918";
$icon-plus: "\e919";
$icon-positive: "\e91a";
$icon-search: "\e91b";
$icon-star: "\e91c";
$icon-twitter: "\e91d";
$icon-video: "\e91e";
$icon-web: "\e91f";