<div
  data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title"
  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
  data-sly-test.text="${title.text}"
  data-cmp-data-layer="${title.data.json}"
  data-sly-attribute.id="${title.id}"
  class="cmp-title">
  <span
    class="${properties.eyebrowWeight}"
    data-sly-test="${properties.eyebrow}"
    >${properties.eyebrow}
    </span>
  <h1 class="cmp-title__text" data-sly-element="${title.type}">
    <a
      data-sly-unwrap="${!title.link.valid || title.linkDisabled}"
      data-sly-attribute="${title.link.htmlAttributes}"
      data-cmp-clickable="${title.data ? true : false}"
      >${text}
    </a>
  </h1>
</div>
<sly
  data-sly-call="${template.placeholder @ isEmpty=!text, classAppend='cmp-title'}"
></sly>
