body {
  margin: 0;
}

button {
  @extend .primary-btn--light;
}

a {
  @extend .link;
}

// .container-fluid {
//     max-width: 100%;
//     padding-left: 1rem;
//     padding-right: 1rem;
//     margin: 0 auto;

//     @include respond-to(medium, null) {
//         padding-left: 1.5rem;
//         padding-right: 1.5rem;
//     }

//     @include respond-to(large, null) {
//         padding-left: 1.875rem;
//         padding-right: 1.875rem;
//     }
// }

.hidden-desktop {
  @include respond-to("screen-desktop", null) {
    display: none !important;
  }
}

.hidden-mobile {
  @include respond-to(null, "screen-tablet") {
    display: none !important;
  }
}
